* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(233, 47%, 7%);
}
.page {
  display: flex;
  background-color: hsl(244, 38%, 16%);
  color: white;
  height: 446px;
  align-items: center;
  margin-top: 150px;
}
@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }
}
.text {
  padding: 50px;
}
.text h3 {
  font-size: 50px;
}
.text h3 span {
  color: hsl(277, 64%, 61%);
}
.text > p {
  margin-top: 30px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
  font-size: 21px;
}
.text .review {
  display: flex;
  margin-top: 50px;
  margin-right: 80px;
  justify-content: space-between;
  text-align: center;
}
.text .review div .num {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.text .review div .stat-heading {
  color: hsla(0, 0%, 100%, 0.6);
}
.page .image {
  position: relative;
}
.page .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(277, 64%, 61%, 0.6);
}
